.cardPanel {
	border: 1px solid rgba(127, 255, 255, 0.25);
	font-family: Helvetica, sans-serif;
	box-shadow: 0px 0px 12px rgba(0, 255, 255, 0.5);
	border-radius: 5px;
	cursor: move;
	position: absolute;
	width: 210px;
	height: 100px;
	text-shadow: none;
	text-rendering: optimizeLegibility;
	background: black;
	-webkit-filter: blur(radius);
}

.cardPanel:active {
	box-shadow: 0px 0px 12px rgba(0, 255, 255, 0.75);
	border: 1px solid rgba(127, 255, 255, 0.75);
}

.photoBlock {
	display: inline-block;
	border: 1px solid #000;
	border-radius: 4px;
	position: relative;
	margin-left: 4px;
	margin-top: 4px;
	width: 31%;
	height: 90%;
	vertical-align: top;
	font-size: 12px;
	color: rgba(127, 255, 255, 0.75);
}

.infoBlock {
	display: inline-block;
	border: none;
	position: relative;
	margin-left: 4px;
	margin-top: 4px;
	width: 54%;
	height: 90%;
	margin-top: 4px;
	vertical-align: top;
	font-size: 12px;
	font-weight: bold;
	color: rgba(255, 255, 255, 0.75);
	text-shadow: 0 0 10px rgba(0, 255, 255, 0.95);
}

.name {
	margin-left: 4px;
	margin-top: 4px;
}

.iconPanel {
	display: block;
	border: none;
	position: relative;
	margin-right: 4px;
	margin-top: 4px;
	float: right;
	width: 8%;
	height: 90%;
	font-size: 12px;
	color: rgba(127, 255, 255, 0.75);
}

.icon {
	position: static;
	cursor: pointer;
	width: 15px;
	height: 15px;
	transition-duration: 0.2s;
	transition-property: transform;
	transition-timing-function: ease;
	color: green;
}

.deleteIcon {
	margin-top: 240%;
}

.icon:hover {
	transform: scale(1.5);
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.select {
	-webkit-touch-callout: text; /* iOS Safari */
	-webkit-user-select: text; /* Safari */
	-khtml-user-select: text; /* Konqueror HTML */
	-moz-user-select: text; /* Old versions of Firefox */
	-ms-user-select: text; /* Internet Explorer/Edge */
	user-select: text; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.canvas {
	position: absolute;
	z-index: -1;
	/* 		width: 500px;
	height: 500px; */
}

html, body {
	overflow: hidden;
	background: black;
}

.desktopPanel {
	border: 1px solid #000;
	z-index: -2;
	position: absolute;
}

.buttonPanel {
	z-index: 9999;
	position: absolute;
}

.bond {
	box-shadow: 0px 0px 12px rgba(0, 255, 255, 0.25);

	width: 2px;
	/* 	height: 10px; */
	background: rgba(127, 255, 255, 0.25);
	/* display: block; */
	z-index: -1;
}