.infoDialog {
	border: 2px solid #ffa4a4;
	border-radius: 10px;
	cursor: default;
	position: absolute;
	width: 400px;
	height: 150px;
	top: 50%; 
	left : 50%;
	transform : translate( -50%, -50%);
	display: block;
	z-index: 9999;
	background-color: #ffe1e1;
	left: 50%;
	transform: translate(-50%, -50%);
}

.infoDialogMessage {
	position: absolute;
	width: 90%;
	height: 30%;
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 10px;
	float: top;
}

.infoDialogButton {
	display: inline-block;
	border: 2px solid #000;
	border-radius: 6px;
	position: relative;
	width: 50px;
	height: 30px;
	margin-top: 26%;
	margin-right: 12px;
	float: right;
	transition-duration: 0.1s;
	transition-property: transform;
	transition-timing-function: ease-out;
}

.infoDialogButton:hover {
	transform: scale(1.05);
}

.infoDialogButtonText{
    text-align: center;
    display: block;
    margin-top: 11%;
}

.infoDialogBackground {
	position: absolute;
	margin: -8px;
	width: 100%;
	height: 100%;
	z-index:9998;
	background: rgba(0,0,0,0.1);
	
}