.mainMenuPanel {
	position: absolute;
	left: 0;
	top: 0;
	height: 12vh;
	width: 100vw;
	z-index: 2;
	display: none;
	background: rgba(0, 255, 255, 0.8);
	box-shadow: 0px 0px 3px 3px rgba(0, 255, 255, 0.8);
}

.mainMenuButton {
	position: absolute;
	right: 10px;
	top: 1vh;
	height: 30px;
	width: 30px;
	border-radius: 6px;
	z-index: 3;
}

.mainMenuHomeButton {
	position: absolute;
	left: 10px;
	top: 1vh;
	height: 30px;
	width: 30px;
	border-radius: 6px;
	z-index: 1;
}

.mainMenuPlusButton {
	position: absolute;
	left: 50px;
	top: 1vh;
	height: 30px;
	width: 30px;
	border-radius: 6px;
	z-index: 1;
}
.mainMenuButton:hover, .mainMenuHomeButton:hover, .mainMenuPlusButton:hover {
	transition-duration: 0.2s;
	transition-property: transform;
	transition-timing-function: ease;
	transform: scale(1.2);
}
.mainMenuThemePanel {
	border: 3px solid black;
	border-radius: 4px;
	position: relative;
	display: inline-block;
	width: 70px;
	height: 70px;
	left: 2vw;
	top: 1vh;
}

.mainMenuLightThemeButton {
	border: 2px solid black;
	width: 90px;
	margin-top: 2px;
	border-radius: 4px;
	background: white;
	cursor: pointer;
}

.mainMenuLightThemeButton:hover {
	transform: scale(1.05);
}

.mainMenuThemeButtonText {
	text-align: center;
	display: block;
}

.mainMenuDarkThemeButton {
	border: 2px solid rgba(125, 255, 255, 0.8);
	width: 90px;
	margin-top: 2px; border-radius : 4px;
	background: black;
	cursor: pointer;
	border-radius: 4px;
}

.mainMenuDarkThemeButton:hover {
	transform: scale(1.05);
}

.mainMenuDarkThemeButtonText {
	text-align: center;
	display: block;
	color: rgba(0, 255, 255, 0.8);
}

.mainMenuButtons {
	border: 2px solid black;
	width: 50px;
	margin-top: 2px;
	border-radius: 4px;
	background: transparent;
	cursor: pointer;
}

.mainMenuButtons:hover {
	transform: scale(1.05);
}

.mainMenuLoginPanel {
	border: 3px solid black;
	border-radius: 4px;
	position: absolute;
	display: flex;
	width: 70px;
	height: 70px;
	right: 5vw;
	top: 1vh;
	align-items: center;
	flex-direction: column;
}